body {
  font-family: Montserrat;
}

section {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

section > div {
  max-width: 1065px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
}

.column-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 8em;
  font-weight: 1000;
  line-height: 0.8;
  margin: 0;
}

h1 + span {
  font-size: 2em;
}

h2 {
  font-size: 3em;
  font-weight: 1000;
  margin: 0;
}

h2 + span {
  margin: 1em 0;
  font-size: 2em;
  display: block;
}

button {
  cursor: pointer;
  background-color: #ffae03;
  border: 2px solid black;
  padding: 0.25em 1.5em;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  align-items: center;
  transition: transform 200ms;
}

button > img {
  margin-left: 0.5em;
  transition: transform 200ms;
}

button.big {
  font-size: 1.75em;
  border-width: 4px;
}

button.big > img {
  width: 34px;
  height: 41px;
}

button:hover {
  transform: scale(1.05);
}

button:hover img {
  transform: rotateZ(360deg);
}
